{
  "spotify": {
    "clientId": "",
    "clientSecret": "",
    "sp_dc": "",
    "accessToken": "",
    "clientToken": ""
  },
  "tidal": {
    "token": ""
  },
  "youtube": {
    "cookie": ""
  },
  "paths": {
    "musicFolders": []
  },
  "audio": {
    "audioDevice": "wasapi/exclusive",
    "exclusiveMode": true,
    "gaplessMode": true,
    "replayGainMode": "track"
  }
}
