{
  "spotify": {
    "clientId": "",
    "clientSecret": "",
    "sp_dc": "",
    "accessToken": "",
    "clientToken": ""
  },
  "tidal": {
    "token": ""
  },
  "youtube": {
    "cookie": ""
  },
  "paths": {
    "musicFolders": []
  }
}
